# secrets
src/config/secrets.py

# runtime shi
__pycache__/
.vscode/

# datasets
data/xsum
data/supreme-corpus
data/iq2-corpus
data/iq2_corpus
data/tennis-corpus
data/flattened_corpora.txt

data/LibriSpeech
data/mozilla-cv26-ur
data/asr-bilingual

data/dia-merged.csv
data/dia-merged2.parquet
data/dia-final.parquet

# models
models/pretrained/glove.840B.300d.txt
models/pretrained/glove.840B.300d.txt.pt
models/pretrained/hf

models/trained/lex
models/trained/asr