# runtime shi
__pycache__/
.vscode/

# datasets
data/xsum
data/supreme-corpus
data/iq2-corpus
data/iq2_corpus
data/tennis-corpus
data/flattened_corpora.txt
data/dia-merged.csv

# imported models
models/pretrained/glove.840B.300d.txt
models/pretrained/glove.840B.300d.txt.pt